pandas
numpy
torch
transformers
datasets
evaluate
scikit-learn
accelerate>=0.26.0
scikit-learn>=1.2
requests>=2.31
fastapi
uvicorn[standard]
pymongo
python-dotenv
botbuilder-core
botbuilder-schema
botbuilder-integration-aiohttp
aiohttp
bcrypt==3.2.0
passlib[bcrypt]
werkzeug