pandas
numpy
torch
transformers
datasets
evaluate
scikit-learn>=1.2
accelerate>=0.26.0
fastapi
uvicorn[standard]
requests>=2.31
python-dotenv
pydantic>=2.0
pydantic-settings
pymongo
msal
aiohttp
botbuilder-core
botbuilder-schema
botbuilder-integration-aiohttp
bcrypt==3.2.0
passlib[bcrypt]
werkzeug